<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zen.budget"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="15" />
    <application
        android:icon="@drawable/plus_minus"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".BudgetProvider"
            android:authorities="org.zen.budget.provider" >
        </provider>
        <activity
            android:name=".NewPanelActivity"
            android:allowTaskReparenting="false"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/panel_top_wSlideDown" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdatePanelActivity"
            android:allowTaskReparenting="false"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/panel_top_wSlideDown" >
            <intent-filter>
            </intent-filter>
        </activity>
    </application>
</manifest>